
<%= form_for(@feedback, :html => {:class => "form"}) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-info"><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</div>
      <div class="alert alert-danger" role="alert">
        <ul>
        <% @feedback.errors.full_messages.each do |message| %>
          <li class="bg-danger"><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label 'Did the meeting happen?' %><span class="font-red">*</span><br>
    <%= f.label :meeting_happened, "Yes", :value => '1' %>
    <%= f.radio_button :meeting_happened, true %>
    <%= f.label :meeting_happened, "No", :value => '0' %>
    <%= f.radio_button :meeting_happened, false %>
  </div>

  <div class="field form-group">
    <%= f.label :meeting_with_company %><span class="font-red">*</span><br>
    <%= f.text_field :meeting_with, class: 'form-control' %>
  </div>
  
  <div class="field form-group">
    <%= f.label :was_it_useful? %><span class="font-red">*</span><br>
    <%= f.label :was_useful, "Yes", :value => "true"  %>
    <%= f.radio_button :was_useful, true %>
    <%= f.label :was_useful, "No", :value => "false"  %>
    <%= f.radio_button :was_useful, false %>
  </div>
  <div class="field form-group">
    <%= f.label :potential_revenue_expected %><span class="font-red">*</span><br>
    <%= f.text_field :potential_revenue, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
  </div>
    <%= f.submit :class => 'btn btn-default'%>
<% end %>

