<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Did the meeting happen?' %><span class="font-red">*</span><br>
    <%= f.label :meeting_happened, "Yes", :value => "true" %>
    <%= f.radio_button :meeting_happened, true %>
    <%= f.label :meeting_happened, "No", :value => "false" %>
    <%= f.radio_button :meeting_happened, false %>
  </div>

  <div class="field">
    <%= f.label :meeting_with_company %><span class="font-red">*</span><br>
    <%= f.text_field :meeting_with %>
  </div>
  
  <div class="field">
    <%= f.label :was_it_useful? %><span class="font-red">*</span><br>
    <%= f.label :was_useful, "Yes", :value => "true"  %>
    <%= f.radio_button :was_useful, true %>
    <%= f.label :was_useful, "No", :value => "false"  %>
    <%= f.radio_button :was_useful, false %>
  </div>
  <div class="field">
    <%= f.label :potential_revenue_expected %><span class="font-red">*</span><br>
    <%= f.text_field :potential_revenue %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
